<%= simple_form_for(cart_new) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :satus, value: "on" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Make order' %>
  </div>
<% end %>
